<div class="upoaded-images card-columns">
  <div *ngFor="let post of posts"
   class="card" style="width: 200px;">
    <img class="card-img-top" [src]="post.data?.imageUrl" alt="Card image cap" width="100" height="100">
    <div class="card-body">
      <h5 class="card-title">{{post.data?.title}}</h5>
      <p class="card-text">
          <a (click)="removeFavourite(post.favKey)"  class="btn btn-primary"><i class="fa fa-remove"></i></a>
          <a [routerLink]="['/'+post.key]" routerLinkActive="router-link-active"  class="btn btn-primary"><i class="fa fa-eye"></i></a>
      </p>
      
    </div>
  </div>
</div>